<button class="btn btn-primary" ng-click="saveData()">Save</button>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1><i class="fa fa-database"></i> InteractDB v1.0</h1>
    <p class="lead">Easiest way to manage your migrations and models</p>
  </div>
</header>
<a ng-if="backVisible" href="#" ui-sref="main" class="btn btn-default">
	<i class="fa fa-arrow-left"></i> Go back
</a>
<span class="undo" ng-if="canUndo()">
    <button class="btn btn-default" ng-click="undo()">Undo <i class="fa fa-undo"></i></button>
</span>
<span class="redo" ng-if="canRedo()">
    <button class="btn btn-default" ng-click="redo()">Redo <i class="fa fa-repeat"></i></button>
</span>