.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
}

#banner h1 {
    font-size: 38px;
    line-height: 1;
    letter-spacing: -1px;
}

#banner p.lead {
    font-size: 13px;
}

.hero-unit {

    position: relative;
    padding: 5px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: darken(#272B30, 30%);

    @include gradient-vertical($start-color: $gray-darker, $end-color: darken($gray-darker, 10%));
}

.undo, .redo {
    float: right;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}